<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <application>
        <activity android:name=".AlbumActivity" android:theme="@style/AppTheme"></activity>
        <activity android:name=".ui.AlbumComposeActivity"></activity>
        <activity android:name=".AlbumPreviewActivity"></activity>
        <activity android:name=".PhotoPreviewActivity"></activity>
    </application>
</manifest>
